---
title: Portfolio
layout: page
---

<h2 class="page-title">{{ page.title }}</h2>

<div class="posts" style="font-size:17px">

  {% for i in site.tags %}
    {% for post in paginator.posts %}
      {% if i[0] == post.tags%}
      <div class="post">
        <h3 class="post-title">
          <a href="{{ post.url }}">
            {{post.tags}}
            {{ post.title }}
          </a>
        </h3>
    <!--<span class="post-date">{{ post.date | date_to_string }}</span>-->
    <p align="center">
      <img align="center" src="{{post.image}}" width="480">
    </p>
    {{ post.summary }}
  </div>
      {%endif%}
    {%endfor%}   
  {% endfor %}
</div>

<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{site.url}}/portfolio/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

-->