---
title: Portfolio
layout: page
---

<script>
  input = document.getElementById('output').value
      output = input.split("-")
      window.onload = function(){
      document.getElementById('output').value = output
      }
</script>




<div class="sidebar-right"> 
  <h4> Table of Content </h4>
    {% for tag in site.tags %}
      <a href="#{{tag[0]}}">
        <b>{{tag[0]}}</b>
      </a></br> 
      {% for post in tag[1] %}
      <a href="#{{post.title}}">
        {{post.title}}
      </a></br>
      {% endfor %} 
      </br>  
    {% endfor %}
</div>

<div class="pcontent">
<h1 class="page-title">{{ page.title }}</h1>

<div class="posts">
  {% for tag in site.tags %}
    <h3 id='{{tag[0]}}'> 
      {{tag[0]}} 
    </h3>
    
    
    {% for post in tag[1] %}
      <div class="post">
        <h3 class="post-title", id="{{post.title}}">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h3>

    
    <!--<span class="post-date">{{ post.date | date_to_string }}</span>-->
    <p align="center">
      <img align="center" src="{{post.image}}" width="480">
    </p>
    {{ post.summary }}
    </br></br>
  </div>  
    {% endfor %}   
{% endfor %} 
</div>
</div>

<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{site.url}}/portfolio/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

-->